.subheader {
  margin: 0;
  padding: 0;
  line-height: 22px;
  font-size: 11px;
  font-weight: 700;
}

.submenu {
  cursor: pointer;
  display: grid;
  grid-template-columns: 1fr;
}

.submenu > .row:not(:first-child) {
  padding-left: 10px;
}

.submenu .submenu .row {
  padding-left: 20px;
}

.submenu .submenu .submenu .row {
  padding-left: 30px;
}

.submenu .submenu .submenu .submenu .row {
  padding-left: 40px;
}

.submenu .submenu .submenu .submenu .submenu .row {
  padding-left: 50px;
}

.row {
  display: grid;
  grid-template-columns: 5px auto 1fr;
  line-height: 22px;
  width: auto;
  max-height: 22px;
  min-height: 22px;
  border: 1px solid transparent;
}

.folder,
.code {
  height: 100%;
  width: 15px;
}

.code {
  padding-right: 3px;
}

.border {
  border-left: 1px solid #585858;
  height: 108%;
  z-index: 1000;
  position: relative;
}

.folder::before {
  content: url(src/assets/down.svg);
}

.folder.closed::before {
  content: url(src/assets/right.svg);
}

.code::before {
  content: url(src/assets/code.svg);
}

.link {
  color: #f2f2f2;
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}

.row:hover:not(.root) {
  color: #f2f2f2;
  background-color: #2a2d2e;
}

.row.active {
  background-color: #37373d;
}

.row.selected {
  border: 1px solid #1481d1;
  background-color: #083a5d;
}

.row.root.selected {
  border: 1px solid #1481d1;
  background-color: transparent;
}
